* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: rgb(15, 14, 23);
  font-family: proxima-nova, sans-serif;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
}

h1, h2, h3,
h4, h5, h6 {
  color: #0f0e17;
  font-weight: bold;
  margin: 0 0 10px;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.3rem;
  font-weight: 700;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 700;
}

a {
  color: #ff8906;
  font-weight: 700;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #ff8906;
  text-decoration: underline;
}

p {
  color: #2e2f3e;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
}

p + p {
  margin: 1.3rem 0 0;
}

nav {
  text-align: right;
  padding: 2rem 0 0;
  background: #fffffe;
}

nav a {
  color: #0f0e17;
  align-items: right;
  margin-left: 0.5rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.section {
  background: #fffffe;
  padding-top: 7rem;
  padding-bottom: 7rem;
  position: relative;
}

.section-header {
  max-width: 600px;
  margin-bottom: 5rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.section-alt {
  background: rgb(15, 14, 23);
}

.copyright {
  font-size: 1rem;
  color: rgb(167, 169, 190);
}

.section:last-of-type:after {
  content: "";
  background-color:
  #fffffe;
  background-image: url('/img/logo.png');
  display: block;
  position: absolute;
  bottom: 0.75em;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  top: -15.1rem;
  border-radius: 50%;
}
